html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
        "hero hero hero hero"
        "about about about about"
        "services services services services"
        "projects projects projects projects"
        " footer footer footer footer";
    grid-template-columns: repeat(4 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.header {
    grid-area: header;
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    min-height: 7.5rem;
}

.header .logo {
    font-weight: 700;
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
}

.header .logo:hover {
    color: coral
}

/*responsive*/


/*hero*/
.hero {
    grid-area: hero;
    height: 80vh;
    background: url('../images/lemons.jpg') center center no-repeat;

}


/*about*/
.about {
    grid-area: about;
}

/*services*/
.services {
    grid-area: services;
}

/*projects*/
.projects {
    grid-area: projects;
}

/*footer*/
.footer {
    grid-area: footer;
}